.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  /* width */
  ::-webkit-scrollbar {
    width: 2px;
    height: 2px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: black;
    height: 2px;
    opacity: 0;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    height: 4px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
    height: 40px;
  }
}

.backdrop {
  background: rgb(30, 30, 30);
  height: 100%;
  width: 100;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.content {
  z-index: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.topRow {
  display: flex;
  flex: 2;
  flex-wrap: wrap;
  gap: 12px;
  padding: 0 2vw;
}

.activeImage {
  display: grid;
  place-items: center;

  justify-content: center;
  align-items: center;
  flex: 8;

  .navigators {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    font-size: 64px;
    width: 100%;
    height: 100%;
    opacity: 0.75;
    z-index: 1;
    justify-content: space-between;
    align-items: center;

    div {
      height: 72vh;
      width: 100%;
      display: flex;
      align-items: center;
      opacity: 0;
      transition: opacity 0.6s;
      cursor: pointer;

      -webkit-tap-highlight-color: transparent;
    }
  }

  .image {
    grid-column: 1;
    grid-row: 1;
  }

  img {
    border: none;
  }
}

.largeThumbnail {
  height: 8em !important;
  width: 8em !important;

  img {
    width: 8em !important;
    height: 8em !important;
  }
}

.thumbnail {
  height: 4em;
  width: 4em;
  cursor: pointer;

  img {
    width: 4em;
    height: 4em;
  }
}

.thumbnails {
  display: flex;
  overflow-x: auto;
  gap: 12px;
  width: 100%;
  padding: 1em 0.5em;

  background: rgb(60, 60, 60);
  background: linear-gradient(
    0deg,
    rgba(60, 60, 60, 1) 0%,
    rgba(40, 40, 40, 1) 100%
  );
  border-top: 1px solid rgb(40, 40, 40);
  box-shadow: 0px 1px 0px rgb(50, 50, 50) inset;
}

.thumbnailsZoom {
  color: white;
  font-size: 1.4em;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: fixed;

  svg {
    cursor: pointer;
    opacity: 0.5;
    &:hover {
      opacity: 1;
    }
  }
}

.selected {
  outline: 1px solid rgb(200, 0, 0) !important;
  outline-offset: -1px;
}

.fileInfo {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  color: rgb(220, 220, 220);
  flex: 2;
}

.info {
  // https://css-tricks.com/simplified-fluid-typography/
  font-size: min(max(0.5rem, 2vw), 14px);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.icons {
  position: absolute;
  top: 24px;
  right: 24px;
  z-index: 2;
  display: flex;
  gap: 20px;
  font-size: clamp(24px, 1.6em, 36px);
  align-items: center;

  svg {
    opacity: 0.25;
    transition: opacity 200ms;

    &:hover {
      opacity: 0.75;
      cursor: pointer;
    }
  }

  .fullscreen {
    color: white;
  }

  .close {
    color: rgb(200, 0, 0);
  }
}

.modeToggle {
  $dimension: clamp(24px, 1.6em, 24px);
  height: $dimension;
  width: $dimension;
  background: rgb(80, 80, 80);
  cursor: pointer;
  outline: 1px solid rgb(130, 130, 130);
  outline-offset: -1px;
  opacity: 0.5;
  transition: opacity 200ms;
  &:hover {
    opacity: 1;
  }
}

@media (orientation: portrait) {
  .topRow {
    flex-direction: column;
  }

  .icons {
    flex-direction: column-reverse;
  }
}
