.folder {
  display: flex;
  align-items: center;

  svg {
    cursor: pointer;
    min-width: 20px;
  }
}

.icon {
  opacity: 0.5;
}

.invisible {
  visibility: hidden;
}

.folderList {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.folder {
  font-weight: normal;
}

.subList {
  margin-left: 12px;
}
