.playlist {
  display: flex;
  align-items: center;
  gap: 36px;
  border: 1px solid #ddd;
  background: white;
}

.hidden {
  display: none;
}

.mini {
  display: flex;
  gap: 12px;
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 40px 0px 0px 0;
  border: 1px solid #ddd;
  background: white;
  padding: 4px 32px;
  padding-left: 48px;
  margin: 0;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.3);
  z-index: 10;

  .panel {
    flex-direction: row;
    align-items: center;
  }

  .playing {
    $width: 20vw;
    width: $width;
    max-width: $width;
    overflow: clip;
    white-space: pre;
    text-overflow: ellipsis;
  }

  .shrinkIcon {
    position: absolute;
    left: 16px;
  }

  cursor: pointer;
}

.small {
  width: 25vw;
  position: absolute;
  bottom: 16px;
  right: 16px;
  border-radius: 8px;
  padding: 24px 36px;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.3);
}

.full {
  // padding: 36px 48px;
  padding: 18px 24px;
  height: 90vh;
  overflow-y: hidden;
  align-items: flex-start;
  $width: 25vw;
  flex-basis: $width;
  width: $width;
  max-width: $width;
  min-width: $width;
  position: relative;
  margin-left: 12px;
}

.panel {
  width: 100%;
  display: flex;
  gap: 12px;
  flex-direction: column;

  svg {
    cursor: pointer;
  }
}

.playlistItem {
  display: flex;
  align-items: center;
  gap: 8px;

  p {
    cursor: pointer;
    user-select: none;
  }

  svg {
    opacity: 0;
    cursor: pointer;
    color: darkred;
  }

  &:hover {
    svg {
      opacity: 1;
      display: block;
    }
  }
}

.titles {
  flex-grow: 1;
  overflow: auto;
  max-height: 80vh;
  width: 100%;
}

.titles p {
  margin: 4px 0;
  opacity: 0.8;
  font-size: 0.9em;
}

.playing {
  font-weight: bolder;
  cursor: pointer;
}

.modeIcon {
  position: absolute;
  bottom: 8px;
  right: 8px;
  opacity: 0.25;
  transition: opacity 300ms;

  &:hover {
    cursor: pointer;
    opacity: 0.5;
  }
}

.shrinkIcon {
  position: absolute;
  bottom: 8px;
  left: 8px;
  opacity: 0.25;
  transition: opacity 300ms;

  &:hover {
    cursor: pointer;
    opacity: 0.5;
  }
}

.dndInsert {
  background: cornflowerblue;
  height: 2px;
  opacity: 0.25;
  // width: 75%;
}

.contextIcon {
  font-size: 0.8em !important;
}
