.playlist {
  display: flex;
  align-items: center;
  gap: 36px;
  border: 1px solid #ddd;
  background: white;
}

.mini {
  display: flex;
  gap: 12px;
  position: absolute;
  bottom: 16px;
  right: 16px;
  border-radius: 40px;
  border: 1px solid #ddd;
  background: white;
  padding: 20px;
  margin: 0;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.3);
  z-index: 10;

  cursor: pointer;
}

.small {
  width: 25vw;
  position: absolute;
  bottom: 16px;
  right: 16px;
  border-radius: 8px;
  padding: 24px 36px;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.3);
}

.full {
  // padding: 36px 48px;
  padding: 18px 24px;
  height: 90vh;
  overflow-y: auto;
  align-items: flex-start;
  $width: 25vw;
  flex-basis: $width;
  width: $width;
  max-width: $width;
  min-width: $width;
  position: relative;
  margin-left: 12px;
}

.panel {
  width: 100%;
  display: flex;
  gap: 12px;
  flex-direction: column;

  svg {
    cursor: pointer;
  }
}

.playlistItem {
  display: flex;
  align-items: center;
  gap: 8px;

  p {
    cursor: pointer;
    user-select: none;
  }

  svg {
    display: none;
    cursor: pointer;
    color: darkred;
  }

  &:hover {
    svg {
      display: block;
    }
  }
}

.titles {
  flex-grow: 1;
  overflow: auto;
  max-height: 80vh;
  width: 100%;
}

.titles p {
  margin: 4px 0;
  opacity: 0.8;
  font-size: 0.9em;
}

.playing {
  font-weight: bolder;
  cursor: pointer;
}

.modeIcon {
  position: absolute;
  bottom: 8px;
  right: 8px;
  opacity: 0.25;
  transition: opacity 300ms;

  &:hover {
    cursor: pointer;
    opacity: 0.5;
  }
}

.shrinkIcon {
  position: absolute;
  bottom: 8px;
  left: 8px;
  opacity: 0.25;
  transition: opacity 300ms;

  &:hover {
    cursor: pointer;
    opacity: 0.5;
  }
}
