$dimension: 8em;
$thumbnail: calc($dimension * 0.8);
$border: 1px solid rgb(200, 200, 200);
$accent: rgba(100, 149, 237, 0.25);

.container {
  display: flex;
  flex-wrap: wrap;
}

.square {
  border: $border;
  display: flex;
  align-items: center;
  justify-content: center;
  width: $thumbnail;
  height: $thumbnail;
  min-height: $thumbnail;
}

.file {
  width: $dimension;
  height: $dimension;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 12px;
  transition: background 0.2s;

  &:hover {
    background: $accent;
  }
}

.folderIcon {
  font-size: 3em;
  color: $accent;
}

img {
  width: $thumbnail;
  height: $thumbnail;
  object-fit: cover;
  border: $border;
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.55);
  width: $dimension;
  text-overflow: ellipsis;
  overflow: clip;
}

.thumbnail {
  min-width: $thumbnail;
  min-height: $thumbnail;
  border: $border;
}

.filename {
  font-size: 0.7em;
  text-align: center;
}
