.contents {
  position: relative;
}

.contents textarea,
.contents p {
  font-family: "Fira Code", monospace;
  background: rgb(245, 245, 245);
  font-size: 0.8em;
  padding: 8px 12px;
  width: 60vw;
  height: 60vh;
  overflow-y: auto;
  white-space: pre-line;
  resize: none;
  border: none;

  &:focused {
    border: none;
  }
}

iframe {
  width: 50vw;
  height: 50vh;
}

.save {
  position: absolute;
  bottom: 8px;
  right: 14px;
  cursor: pointer;
  font-size: 2.4em;
  opacity: 0.25;
  &:hover {
    opacity: 0.5;
  }
}

.success {
  color: green;
}

.error {
  color: orange;
}
