$hoverColor: rgba(0, 0, 0, 0.075);

.container {
  // https://css-tricks.com/simplified-fluid-typography/
  font-size: min(max(0.5rem, 2vw), 14px);
}

.files {
  display: flex;
  flex-direction: column;
  opacity: 0.8;
  gap: 8px;
}

.file {
  display: flex;
  &:hover {
    background: rgb(250, 250, 250);
  }
  justify-content: space-between;

  color: rgba(0, 0, 0, 0.55);
  text-overflow: ellipsis;
  overflow: clip;
  user-select: none;

  cursor: pointer;
  &:hover {
    background: $hoverColor;
  }
}

.folder {
  font-weight: 900;
  cursor: pointer;
  &:hover {
    background: $hoverColor;
  }
}

.link {
  display: flex;
  align-items: center;
  color: black;
  text-decoration-line: none;

  &:visited {
    text-decoration: none;
  }

  svg {
    margin-right: 4px;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.75);
  }
}

.filename {
  overflow: hidden;
  flex-basis: 25vw;
}

.ext {
  flex-basis: 10vw;
}

.date {
  flex-basis: 10vw;
}

.size {
  display: flex;
  justify-content: flex-end;
  font-family: "Fira Code", monospace;
  flex-basis: 10vw;
  margin: 0;
}
