.files {
  display: flex;
  flex-direction: column;
  font-size: 1em;
  opacity: 0.8;
}

.file {
  display: flex;
  &:hover {
    background: rgb(250, 250, 250);
  }
}

.link {
  color: black;
  text-decoration-line: none;

  &:visited {
    text-decoration: none;
  }
}

.filename {
  width: 82vw;
  overflow: hidden;
}

.ext {
  width: 7vw;
}

.size {
  display: flex;
  justify-content: flex-end;
  width: 15vw;
  font-family: "Fira Code", monospace;
  font-size: 0.9em;
}

.header {
  font-weight: 700;
  font-family: "Work Sans";
  font-size: 1.1em;
  margin: 0 !important;

  &:hover {
    background: inherit;
  }

  .size {
    font-family: "Work Sans", monospace;
    font-size: 1.1em;
  }

  p {
    cursor: pointer;
    margin: 0;
    margin-bottom: 12px;
  }
}
