.dialog {
  min-width: 50vw;
  max-height: 80vh;
}

.from,
.to {
  display: flex;
  align-items: center;
  gap: 12px;

  label {
    width: 48px;
    text-align: right;
  }
}

.to {
  align-items: flex-start;
}

.filesHeader {
  display: flex;
  align-items: center;
  margin-top: 12px;
  margin-bottom: 4px;

  h4 {
    margin: 0;
    margin-left: 4px;
    cursor: pointer;
  }

  svg {
    cursor: pointer;
  }
}

.files {
  max-height: 33vh;
  overflow: hidden;
  overflow-y: auto;
  p {
    opacity: 0.75;
    margin: 0;
  }
}
