.renameDialog {
  min-width: 33vw;
}

.input {
  display: flex;
  gap: 12px;
  align-items: center;

  label {
    opacity: 0.85;
  }

  input {
    font-family: "Atkinson Hyperlegible", sans-serif;
    flex-grow: 2;
  }
}

.validationMessage {
  color: red;
  opacity: 0.75;
  font-size: 0.9em;
}

.button {
  color: white;
  background: rgb(75, 150, 75);
  font-size: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;

  &:hover {
    filter: brightness(1.15);
  }

  &[disabled] {
    opacity: 0.25;
    cursor: default;

    &:hover {
      filter: none;
    }
  }
}
