@use "@../../../../../../variables";

.container h1 {
  text-align: center;
  color: white;
}

form {
  background-color: white;
  padding: 30px;
}

form .inputGroup {
  margin-bottom: 15px;
}

form label {
  display: block;
  margin-bottom: 10px;
}

form input {
  padding: 12px 20px;
  width: 100%;
  border: 1px solid #ccc;
}

.submitBtn {
  width: 100%;
  border: none;
  font-size: 1.2em;
  background: rgb(37, 83, 3);
  color: white;
  padding: 1em;
  text-align: center;
  cursor: pointer;

  &:hover {
    filter: brightness(1.5) saturate(0.75);
  }
}

.disabled {
  background: rgb(37, 83, 3, 0.25);
  cursor: default;
}

.success {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgb(37, 83, 3);

  & > span {
    color: rgb(37, 83, 3);

    font-size: 1.2em;
  }

  .link {
    color: black;
    font-size: 1em;

    &:hover {
      color: variables.$accentColor;
      cursor: pointer;
    }
  }
}
