@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Work+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400&family=Open+Sans&family=Work+Sans:wght@300&display=swap");

body {
  background-color: #ddd;
  font-family: "Open Sans", "Segoe UI", sans-serif;
  margin: 2vh;

  button {
    font-family: "Open Sans", "Segoe UI", sans-serif;
  }
}
* {
  box-sizing: border-box;
}
