@use "variables";

.btn {
  width: 100%;
  border: none;
  font-size: 1.2em;
  background: rgb(37, 83, 3);
  color: white;
  padding: 1em;
  text-align: center;
  cursor: pointer;

  &:hover {
    filter: brightness(1.5) saturate(0.75);
  }
}

.primaryButton {
  color: white;
  background: variables.$buttonPrimaryColor;
  font-size: variables.$buttonFontSize;
  padding: variables.$buttonPadding;
  border: none;
  border-radius: variables.$buttonBorderRadius;

  &:hover {
    filter: brightness(1.15);
  }

  &[disabled] {
    opacity: 0.25;
    cursor: default;

    &:hover {
      filter: none;
    }
  }
}

.secondaryButton {
  color: white;
  background: variables.$buttonSecondaryColor;
  border: none;
  border-radius: variables.$buttonBorderRadius;
  font-size: variables.$buttonFontSize;
  padding: variables.$buttonPadding;
  cursor: pointer;

  &:hover {
    filter: brightness(1.05);
  }

  &[disabled] {
    opacity: 0.25;
    cursor: default;

    &:hover {
      filter: none;
    }
  }
}
