.selected {
  color: cornflowerblue;
}

.tabList {
  background: #ccc;
  padding: 12px 0;
  padding-left: 12px;
  border-bottom: 1px solid #bbb;
}

.tabList > button {
  background: none;
  border: none;
  font-size: 1.5em;
  font-family: "Work Sans";
  cursor: pointer;

  &:hover {
    font-weight: 900;
  }
}
