$tabWidth: 40px;
$topBarHeight: 60px;
$padding: 0.5em;

.selected {
  border-bottom: 3px solid white !important;
}

.topBar {
  height: $topBarHeight;
}

.container {
  display: flex;
}

.contentX {
  height: 100%;
  overflow: hidden;
}

.foldersFiles {
  display: flex;

  flex-grow: 1;

  section:nth-child(2) {
    flex-grow: 2;
    overflow: auto;
    height: calc(100vh - $topBarHeight - $padding - $padding);
    display: flex;
  }
}

.loadingFolderList {
  width: 200px;
  border-radius: 8px;
}

.loadingFiles {
  flex-grow: 2;
  overflow: auto;
  height: calc(100vh - $topBarHeight - $padding - $padding);
  display: flex;
  border-radius: 8px;
}

.folderList {
  height: calc(100vh - $topBarHeight - $padding - $padding);
  font-size: 0.9em;
  opacity: 0.9;
  overflow: auto;
  margin: 0 0.5em;
}

.vertical {
  height: 100vh;
  width: $tabWidth;
  flex-direction: column;
  padding-top: 12px;
}

.tabs {
  display: flex;
  align-items: center;
  font-size: calc($tabWidth * 0.5);
  gap: 12px;
  color: white;

  background: #f2994a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f2994a,
    #f2c94c
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f2994a,
    #f2c94c
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  svg {
    cursor: pointer;
    width: 100%;
    opacity: 0.5;
  }

  .active {
    opacity: 1;
  }
}

.content {
  background: rgb(250, 250, 250);
  width: calc(100vw - $tabWidth);
  height: 100vh;
  padding: $padding;
}

.horizontal {
  height: $tabWidth;
}

@media (orientation: portrait) {
  .vertical {
    display: none;
  }

  .horizontal {
    background: #f2994a; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to bottom,
      #f2994a,
      #f2c94c
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to bottom,
      #f2994a,
      #f2c94c
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  .container {
    flex-direction: column;
  }

  .content {
    width: 100vw;
  }

  .foldersFiles {
    section:nth-child(1) {
      display: none;
    }
  }
}

@media (orientation: landscape) {
  .horizontal {
    display: none;
  }
}
