@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400&family=Open+Sans&family=Work+Sans:wght@300&display=swap&family=Atkinson+Hyperlegible");

$accentColor: cornflowerblue;

$buttonFontSize: 16px;
$buttonPadding: 10px 20px;
$buttonBorderRadius: 4px;

$buttonPrimaryColor: rgb(75, 150, 75);
$buttonSecondaryColor: rgba(255, 166, 0, 0.658);
$buttonDangerColor: red;

$mainFont: "Atkinson Hyperlegible", "Segoe UI", sans-serif;

$validationError: rgb(206, 25, 25);
