.container {
  position: fixed;
  top: 0px;
  right: 0;
  margin-top: -1px;
  padding: 0 2em 1.2em 2em;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.25);
  box-shadow: -2px 5px 15px rgba(0, 0, 0, 0.55);
  border-radius: 0 0 0 5px;
  z-index: 1;
  max-width: clamp(400px, 50vw, 800px);
  user-select: none;
}

.shortInfo {
  display: flex;
  align-items: center;
  gap: 12px;

  svg {
    font-size: 20px;
  }

  p {
    cursor: pointer;
  }
}

.expand {
  color: cornflowerblue;
  cursor: pointer;
}

.clearAll {
  color: red;
  opacity: 0.5;
  cursor: pointer;
  &:hover {
    opacity: 0.85;
  }
}

.selectAll {
  color: green;
  opacity: 0.5;
  cursor: pointer;
  &:hover {
    opacity: 0.85;
  }
}

.longInfo {
  font-size: 0.9em;
  opacity: 0.65;
  line-height: 0.5em;
  text-overflow: ellipsis;
  max-height: 60vh;
  overflow-y: auto;
  overflow-x: hidden;
}
