@use "../../variables";

$border: 1px solid rgba(0, 0, 0, 0.25);
$shadow: -2px 5px 15px rgba(0, 0, 0, 0.55);
$borderRadius: 0 0 0 5px;
$maxWidth: clamp(400px, 50vw, 800px);

.container {
  position: fixed;
  top: 0px;
  right: 0;
  margin-top: -1px;
  padding: 0 2em 1.2em 2em;
  background: white;
  border: $border;
  box-shadow: $shadow;
  border-radius: $borderRadius;
  z-index: 1;
  max-width: $maxWidth;
  user-select: none;
}

.shortInfo {
  display: flex;
  align-items: center;
  gap: 12px;

  svg {
    font-size: 20px;
  }

  p {
    cursor: pointer;
  }
}

.expand {
  color: variables.$accentColor;
  cursor: pointer;
}

.clearAll {
  color: orange;
  opacity: 0.5;
  cursor: pointer;
  &:hover {
    opacity: 0.85;
  }
}

.cancel {
  color: variables.$buttonDangerColor;
  opacity: 0.5;
  cursor: pointer;
  &:hover {
    opacity: 0.85;
  }
}

.selectAll {
  color: variables.$buttonPrimaryColor;
  opacity: 0.5;
  cursor: pointer;
  &:hover {
    opacity: 0.85;
  }
}

.longInfo {
  font-size: 0.9em;
  opacity: 0.65;
  line-height: 0.5em;
  text-overflow: ellipsis;
  max-height: 60vh;
  overflow-y: auto;
  overflow-x: hidden;
}
